<div class="d-flex justify-content-center mb-3">
    <form class="bg-light p-3 d-block w-25 my-4" #myform="ngForm" (ngSubmit)="submitForm()">
        <h4 class="text-center">Category form</h4>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Category name</label>
          <input type="text" [(ngModel)]="categoryName" name="cname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" *ngIf="isEdited" class="btn btn-success">Update</button>
            <button type="submit" *ngIf="!isEdited" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-warning ms-2" (click)="resetForm()">Reset</button>

        </div>
      </form>
</div>
<h3 class="text-center mb-2">Category Data</h3>
<div class="d-flex justify-content-center">
    <p-table [value]="data" styleClass="p-datatable-striped" [tableStyle]="{ 'width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>{{ category.name }}</td>
                <td><button class="btn btn-outline-warning" (click)="editCategory(category)"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-outline-danger ms-2" (click)="deleteCategory(category)"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>      
</div>